.trending-songs {
  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--white);
    font-family: var(--font-family);
  }

  .trending-songs-cards {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;

    .trending-songs-card {
      width: 100%;
      border-radius: 12px;
      padding: 10px;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      background-color: var(--bg-glass);
      box-shadow: var(--shadow-soft);

      &:hover {
        background-color: var(--bg-primary);
        // box-shadow: var(--shadow-glow);

        .trending-songs-card-image {
          .song-play-button {
            transform: translateY(0);
          }
        }
      }

      .trending-songs-card-image {
        background-color: var(--bg-secondary);
        height: 171px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        transition: 0.4s ease-in-out;

        .song-play-button {
          position: absolute;
          bottom: 10px;
          right: 10px;
          transform: translateY(calc(100% + 10px));
          transition: 0.4s ease-in-out;

          button {
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            border-radius: 50%;
            background-color: var(--accent-primary);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.4s ease-in-out;

            svg {
              path {
                fill: var(--white);
              }
            }

            &:hover {
              box-shadow: var(--shadow-glow);
            }
          }
        }
      }

      .trending-songs-card-content {
        padding: 10px 0 0 0;
        h2 {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: var(--white);
          font-family: var(--font-family);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          transition: 0.3s ease-in-out;

          &:hover {
            text-decoration-line: underline;
          }
        }
        p {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          font-family: var(--font-family);
          display: flex;
          flex-wrap: wrap;
          color: var(--white);

          a {
            transition: 0.3s ease-in-out;
            color: var(--white);

            &:hover {
              text-decoration-line: underline;
            }
          }
        }
      }
    }
  }
}
